/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "ergol.h"
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 800  // Valeur du hummingbird
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10   // Valeur du cradio
#define DEF_L 0
#define NAV_L 1
#define NUM_L 2
#define SYM_L 3
#define MOUSE_L 4

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace

/ {
    behaviors {
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            // Utilise les positions de touches du cradio

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33 30 31>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 31 30 32 33>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
        };

        hroa: hroa {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            #binding-cells = <2>;
            bindings = <&kp>, <&open_angle_quote>;

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33 30 31>;
            require-prior-idle-ms = <100>;
            hold-trigger-on-release;
            label = "HROA";
        };

        hrl: hrl {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33 30 31>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            label = "HRL";
        };

        f_hml: f_hml {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33 30 31>;
            require-prior-idle-ms = <100>;
            hold-trigger-on-release;
            label = "F_HML";
        };

        f_hmr: f_hmr {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 31 30 32 33>;
            require-prior-idle-ms = <100>;
            hold-trigger-on-release;
            label = "F_HMR";
        };

        Y_capslock: Y_capslock {
            compatible = "zmk,behavior-tap-dance";
            label = "Y_CAPSLOCK";
            #binding-cells = <0>;
            bindings = <&kp Y>, <&kp CAPSLOCK>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // Combos du cradio conservés

        Esc {
            bindings = <&caps_word>;
            key-positions = <31 30>;
        };

        Del {
            bindings = <&mt RIGHT_ALT DELETE>;
            key-positions = <33 32>;
        };

        Media {
            bindings = <&mo 3>; // Layer SYM_L (Media)
            key-positions = <31 32>;
        };

        Ralt {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <30 33>;
        };

        // Combos du hummingbird adaptés

        ClrBlutooth {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <11 12 13>;
            layers = <3>;
        };

        fast_esc {
            bindings = <&kp ESC>;
            key-positions = <11 12>;
            timeout-ms = <15>;
            require-prior-idle-ms = <125>;
        };

        fast_tab {
            bindings = <&kp TAB>;
            key-positions = <12 13>;
            timeout-ms = <15>;
            require-prior-idle-ms = <125>;
        };

        fast_bksp {
            bindings = <&kp BACKSPACE>;
            key-positions = <17 16>;
            timeout-ms = <15>;
            require-prior-idle-ms = <125>;
        };

        fast_enter {
            bindings = <&kp ENTER>;
            key-positions = <17 18>;
            timeout-ms = <15>;
            require-prior-idle-ms = <125>;
        };

        OneShotShiftLeft {
            bindings = <&sk LEFT_SHIFT>;
            key-positions = <1 2>;
        };

        OneShotShiftRight {
            bindings = <&sk RIGHT_SHIFT>;
            key-positions = <8 7>;
        };

        // Combos pour lettres spécifiques du hummingbird
        // Conserve les BestB et BestDot du cradio
    };

    macros {
        open_angle_quote: open_angle_quote {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(NUMBER_2) &kp LS(SPACE)>;
            label = "OPEN_ANGLE_QUOTE";
        };

        closed_angle_quote: closed_angle_quote {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(SPACE) &kp LS(NUMBER_3)>;
            label = "CLOSED_ANGLE_QUOTE";
        };

        Vim_change_window: Vim_change_window {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(T) &kp T>;
            label = "VIM_CHANGE_WINDOW";
        };

        vim_reduce_x: vim_reduce_x {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(T) &kp RA(W)>;
            label = "VIM_REDUCE_X";
        };

        vim_increase_x: vim_increase_x {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(T) &kp RA(E)>;
            label = "VIM_INCREASE_X";
        };

        vim_decrease_y: vim_decrease_y {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(T) &kp RA(K)>;
            label = "VIM_DECREASE_Y";
        };

        vim_increase_y: vim_increase_y {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(T) &kp RA(J)>;
            label = "VIM_INCREASE_Y";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q        &kp W        &kp E         &kp R           &kp T                 &Y_capslock          &kp U           &kp I            &kp O        &kp P
&hml LGUI A  &hml RALT S  &hml LCTRL D  &f_hml LSHFT F  &kp G                 &kp H                &f_hmr RSHFT J  &hmr RCTRL K     &hmr RALT L  &hmr RGUI SEMICOLON
&kp Z        &kp X        &hml LALT C   &hrl 4 V        &kp B                 &kp N                &kp M           &hmr LALT COMMA  &kp DOT      &kp FSLH
                                        &lt 1 SPACE     &mt LEFT_SHIFT TAB    &mt RIGHT_ALT ENTER  &lt 2 BSPC
            >;
        };

        nav_layer {
            display-name = "Nav";
            bindings = <
&trans  &trans  &trans             &trans  &trans    &kp HOME  &kp PAGE_DOWN  &kp PG_UP     &kp END    &kp PRINTSCREEN
&trans  &trans  &hml LCTRL ESCAPE  &trans  &trans    &kp LEFT  &kp DOWN       &kp UP_ARROW  &kp RIGHT  &kp CAPS
&trans  &trans  &trans             &trans  &trans    &trans    &trans         &trans        &trans     &trans
                                   &trans  &trans    &trans    &lt 2 DELETE
            >;
        };

        num_layer {
            display-name = "NUMERIC";
            bindings = <
&kp F1        &kp F2        &kp F3         &kp F4                &kp F5    &kp F6  &kp F7                 &kp F8         &kp F9             &kp F10
&hml LGUI N1  &hml RALT N2  &hml LCTRL N3  &f_hml LEFT_SHIFT N4  &kp N5    &kp N6  &f_hmr RIGHT_SHIFT N7  &hmr RCTRL N8  &hmr RIGHT_ALT N9  &hmr RIGHT_GUI N0
&trans        &kp Z         &trans         &kp B                 &trans    &trans  &kp F11                &trans         &kp F12            &trans
                                           &trans                &trans    &trans  &trans
            >;
        };

        sym_layer {
            display-name = "Media";
            bindings = <
&trans        &trans        &trans        &trans        &trans          &trans  &trans             &trans      &trans           &trans
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &kp C_VOLUME_DOWN  &kp C_MUTE  &kp C_VOLUME_UP  &trans
&trans        &trans        &trans        &trans        &trans          &trans  &trans             &trans      &trans           &trans
                                          &trans        &trans          &trans  &trans
            >;
        };

        mouse_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans          &msc SCRL_LEFT  &msc SCRL_RIGHT  &trans           &trans
&trans  &trans  &trans  &trans  &trans    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP     &mmv MOVE_RIGHT  &mkp MCLK
&trans  &trans  &trans  &trans  &trans    &trans          &msc SCRL_DOWN  &msc SCRL_UP     &trans           &trans
                        &trans  &trans    &mkp RCLK       &mkp LCLK
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        MediaLayer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
